Data Analytics Starts from here

Importing Libraries

In [2]:
import pandas as pd
import json
import boto3
from io import StringIO, BytesIO

# Enable pandas options for better output readability
pd.set_option('display.max_columns', None)  
pd.set_option('display.width', 1000)

Load Datasets from S3
1. Time-Series Data (pr.data.0.Current)
2. Population Data (datausa_population.json)

Load Time-Series Data from S3 (pr.data.0.Current)

In [3]:
# AWS S3 Configuration
S3_BUCKET = "arc-cloud-dq"
s3 = boto3.client("s3")

# Define file paths
csv_key = "pr.data.0.Current"

# Fetch CSV from S3
response = s3.get_object(Bucket=S3_BUCKET, Key=csv_key)

# Read the CSV file into a DataFrame
bls_df = pd.read_csv(response["Body"], delimiter="\t", skipinitialspace=True)

# Display first few rows
print("ðŸ”¹ BLS Time-Series Data (pr.data.0.Current):")
print(bls_df.head())

ðŸ”¹ BLS Time-Series Data (pr.data.0.Current):
   series_id          year period  value footnote_codes
0  PRS30006011        1995    Q01    2.6            NaN
1  PRS30006011        1995    Q02    2.1            NaN
2  PRS30006011        1995    Q03    0.9            NaN
3  PRS30006011        1995    Q04    0.1            NaN
4  PRS30006011        1995    Q05    1.4            NaN

Trimming Whitespaces as per hints: skipinitialspace=True ensures leading/trailing spaces are removed.
Delimiter Issues: Tab-separated (\t) ensures correct parsing.
Column Name Cleanup:  refining this in the next step.

Load Population Data from S3 (datausa_population.json)

In [4]:
# Load JSON file from S3
json_key = "datausa_population.json"
response = s3.get_object(Bucket=S3_BUCKET, Key=json_key)

# Parse JSON into a dictionary
population_data = json.loads(response["Body"].read())

# Convert to Pandas DataFrame
pop_df = pd.DataFrame(population_data["data"])

# Rename columns for clarity
pop_df = pop_df.rename(columns={"Nation": "nation", "Population": "population", "Year": "year"})

# Convert year & population to integers
pop_df["year"] = pop_df["year"].astype(int)
pop_df["population"] = pop_df["population"].astype(int)

print("\nðŸ”¹ Population Data (datausa_population.json):")
print(pop_df.head())

ðŸ”¹ Population Data (datausa_population.json):
  ID Nation         nation  ID Year  year  population    Slug Nation
0   01000US  United States     2022  2022   331097593  united-states
1   01000US  United States     2021  2021   329725481  united-states
2   01000US  United States     2020  2020   326569308  united-states
3   01000US  United States     2019  2019   324697795  united-states
4   01000US  United States     2018  2018   322903030  united-states

Parsing JSON Safely: Using json.loads().
Renaming Columns: More meaningful names (year, population).
Converting Data Types: Prevents errors in computations.

Data Cleaning & Standardization
Now, we clean both datasets to ensure smooth merging & filtering.

In [5]:
# Trim whitespace in column names
bls_df.columns = bls_df.columns.str.strip()

# Trim whitespace in all string columns
bls_df = bls_df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# Convert `year` column to integer
bls_df["year"] = pd.to_numeric(bls_df["year"], errors='coerce').astype("Int64")  # Handles NaN safely

# Convert `value` column to float
bls_df["value"] = pd.to_numeric(bls_df["value"], errors='coerce')

# Drop NaN rows if needed
bls_df = bls_df.dropna()

# Display cleaned data
print("âœ… Cleaned BLS Time-Series Data:")
print(bls_df.head())

âœ… Cleaned BLS Time-Series Data:
       series_id  year period    value footnote_codes
147  PRS30006011  2024    Q03   -0.500              R
447  PRS30006013  2024    Q03  103.852              R
597  PRS30006021  2024    Q03   -0.400              R
747  PRS30006022  2024    Q03   -1.700              R
897  PRS30006023  2024    Q03   97.062              R

Whitespace Removal: Ensures column names & data are clean.
Data Type Conversion: Prevents merging issues.
Handling Missing Values: dropna() removes problematic rows.

Compute Population Statistics (Mean & Std Dev) -- Find the mean and standard deviation of the US population from 2013 to 2018.

In [7]:
# Filter for years 2013-2018
pop_filtered_df = pop_df[(pop_df["year"] >= 2013) & (pop_df["year"] <= 2018)]

# Compute statistics
mean_population = pop_filtered_df["population"].mean()
std_population = pop_filtered_df["population"].std()

print(f"âœ… Mean Population (2013-2018): {mean_population}")
print(f"âœ… Standard Deviation of Population (2013-2018): {std_population}")

âœ… Mean Population (2013-2018): 317437383.0
âœ… Standard Deviation of Population (2013-2018): 4257089.5415293295

Find the Best Year for Each series_id
Rearc requires:

For each series_id, find the year with the highest sum of "value".

In [10]:
# Aggregate by `series_id` and `year`
best_year_df = bls_df.groupby(["series_id", "year"])["value"].sum().reset_index()

# Identify the best year for each series_id
best_year_df = best_year_df.loc[best_year_df.groupby("series_id")["value"].idxmax()]

# Rename column for clarity
best_year_df = best_year_df.rename(columns={"value": "max_annual_value"})

print("âœ… Best Year Per Series ID:")
print(best_year_df.head())

âœ… Best Year Per Series ID:
     series_id  year  max_annual_value
0  PRS30006011  2024            -0.500
1  PRS30006013  2024           103.852
2  PRS30006021  2024            -0.400
3  PRS30006022  2024            -1.700
4  PRS30006023  2024            97.062

Generate a Report for PRS30006032  -- Find the value for PRS30006032 in Q01 and match it with population.

In [12]:
# Filter for PRS30006032 and Q01
filtered_bls_df = bls_df[(bls_df["series_id"] == "PRS30006032") & (bls_df["period"] == "Q01")]

# Merge with Population Data
final_report = filtered_bls_df.merge(pop_df, on="year", how="left")[["series_id", "year", "period", "value", "population"]]

print("âœ… Final Report:")
print(final_report)

âœ… Final Report:
Empty DataFrame
Columns: [series_id, year, period, value, population]
Index: []

In [13]:
print(bls_df["series_id"].unique())

['PRS30006011' 'PRS30006013' 'PRS30006021' 'PRS30006022' 'PRS30006023'
 'PRS30006032' 'PRS30006033' 'PRS30006061' 'PRS30006062' 'PRS30006063'
 'PRS30006091' 'PRS30006092' 'PRS30006093' 'PRS30006101' 'PRS30006102'
 'PRS30006103' 'PRS30006112' 'PRS30006113' 'PRS30006151' 'PRS30006152'
 'PRS30006153' 'PRS30006162' 'PRS30006163' 'PRS30006211' 'PRS30006212'
 'PRS30006213' 'PRS31006022' 'PRS31006023' 'PRS31006032' 'PRS31006033'
 'PRS31006062' 'PRS31006063' 'PRS31006091' 'PRS31006092' 'PRS31006093'
 'PRS31006101' 'PRS31006102' 'PRS31006103' 'PRS31006112' 'PRS31006113'
 'PRS31006152' 'PRS31006153' 'PRS31006161' 'PRS31006162' 'PRS31006163'
 'PRS31006212' 'PRS31006213' 'PRS32006012' 'PRS32006013' 'PRS32006022'
 'PRS32006023' 'PRS32006032' 'PRS32006033' 'PRS32006061' 'PRS32006062'
 'PRS32006063' 'PRS32006091' 'PRS32006092' 'PRS32006093' 'PRS32006101'
 'PRS32006102' 'PRS32006103' 'PRS32006112' 'PRS32006113' 'PRS32006151'
 'PRS32006152' 'PRS32006153' 'PRS32006161' 'PRS32006162' 'PRS32006163'
 'PRS32006211' 'PRS32006212' 'PRS32006213' 'PRS84006013' 'PRS84006021'
 'PRS84006022' 'PRS84006023' 'PRS84006032' 'PRS84006033' 'PRS84006041'
 'PRS84006042' 'PRS84006043' 'PRS84006051' 'PRS84006052' 'PRS84006053'
 'PRS84006061' 'PRS84006062' 'PRS84006063' 'PRS84006081' 'PRS84006082'
 'PRS84006083' 'PRS84006091' 'PRS84006092' 'PRS84006093' 'PRS84006101'
 'PRS84006102' 'PRS84006103' 'PRS84006111' 'PRS84006112' 'PRS84006113'
 'PRS84006131' 'PRS84006132' 'PRS84006133' 'PRS84006141' 'PRS84006142'
 'PRS84006143' 'PRS84006151' 'PRS84006152' 'PRS84006153' 'PRS84006161'
 'PRS84006162' 'PRS84006163' 'PRS84006171' 'PRS84006172' 'PRS84006173'
 'PRS85006013' 'PRS85006022' 'PRS85006023' 'PRS85006031' 'PRS85006032'
 'PRS85006033' 'PRS85006042' 'PRS85006043' 'PRS85006051' 'PRS85006052'
 'PRS85006053' 'PRS85006062' 'PRS85006063' 'PRS85006081' 'PRS85006082'
 'PRS85006083' 'PRS85006091' 'PRS85006092' 'PRS85006093' 'PRS85006102'
 'PRS85006103' 'PRS85006112' 'PRS85006113' 'PRS85006131' 'PRS85006132'
 'PRS85006133' 'PRS85006143' 'PRS85006152' 'PRS85006153' 'PRS85006161'
 'PRS85006162' 'PRS85006163' 'PRS85006171' 'PRS85006172' 'PRS85006173'
 'PRS88003013' 'PRS88003022' 'PRS88003023' 'PRS88003032' 'PRS88003033'
 'PRS88003041' 'PRS88003042' 'PRS88003043' 'PRS88003052' 'PRS88003053'
 'PRS88003063' 'PRS88003081' 'PRS88003082' 'PRS88003083' 'PRS88003092'
 'PRS88003093' 'PRS88003102' 'PRS88003103' 'PRS88003111' 'PRS88003112'
 'PRS88003113' 'PRS88003122' 'PRS88003123' 'PRS88003132' 'PRS88003133'
 'PRS88003142' 'PRS88003143' 'PRS88003152' 'PRS88003153' 'PRS88003161'
 'PRS88003162' 'PRS88003163' 'PRS88003172' 'PRS88003173' 'PRS88003181'
 'PRS88003182' 'PRS88003183' 'PRS88003191' 'PRS88003192' 'PRS88003193'
 'PRS88003202' 'PRS88003203']

In [14]:
print(bls_df["period"].unique())

['Q03' 'Q02']